.label {

    -fx-font-family: Arial; /*Tipo de letra*/
    -fx-font-size: 13px; /*Tamaño de letra*/
    -fx-font-weight: bold;
}

.labelTitulo {

    -fx-font-family: Arial; /*Tipo de letra*/
    -fx-font-size: 24px; /*Tamaño de letra*/
    -fx-font-weight: bold;
}

.button2{
    -fx-background-color: #83e19b;
    -fx-background-radius: 10px;
    -fx-pref-width: 100px;         /* Ancho del boton*/
    -fx-pref-height: 25px;        /*Alto del boton*/
    -fx-font-family: Arial;       /*Tipo de letra*/
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.btCancelar{
    -fx-background-color: #d16767;
}

